   <ion-list>
      <ion-list-header>Item List in Particular Category</ion-list-header>
      <button ion-item clear icon-only  *ngFor="let order_product of order_products;let i=index;" >{{i+1}}. {{order_product.model_name!=""? order_product.model_name:(order_product.problem_details_id!=""?order_product.discription:order_product.problem_discription).substring(0, 15)+".."}}</button>
   </ion-list>