<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PROFILE_PIC_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="skip()"  strong>
        <span color="primary" >
            {{ 'TUTORIAL_SKIP_BUTTON' | translate }}&nbsp;
        </span>
        <!--<ion-icon name="md-arrow-forward" showWhen="ios,core,android,windows"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" >
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]"  />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!lastImage">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="pathForImage(lastImage)" *ngIf="lastImage"></div>
    </div>
    <div padding>
        <button ion-button (click)="upload()" color="primary" block>{{ 'SIGNUP_BUTTON_1' | translate }}</button>
    </div>
    <div padding>
        <button (click)="skip()" ion-button color="light" block>{{ 'TUTORIAL_SKIP_BUTTON' | translate }}</button>
    </div>
  </form>
    <!--<img src="{{pathForImage(lastImage)}}" style="width: 100%" *ngIf="lastImage">-->
</ion-content>