<ion-header>
  <ion-navbar color="primary">
    <ion-title>My Order</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="loadForcely($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-toolbar>
        <ion-card *ngFor="let order_detail of order_details" (click)="openOrder(order_detail)">
            <ion-item>
                <ion-avatar item-start>
                   <ion-fab left top style="left: 5px;top: 5px;">
                    <button ion-fab>
                      <ion-icon name="construct"  item-start style="margin-left: 4px;"></ion-icon>
                    </button>
                  </ion-fab>
                </ion-avatar>
                <h3>Order NO .<b>{{order_detail.order_no}}</b> </h3>
                <p>{{order_detail.order_date}}&nbsp;&nbsp;&nbsp;&nbsp;<ion-badge color="primary">{{order_detail.count}}</ion-badge></p>
                 
                <ion-note item-end>
                    
                    <button ion-button small [color]="order_detail.status=='false'? 'secondary':'primary'" style="font-size: 1.0rem;">{{order_detail.status=='false'?'Pending':'Approved' }}</button>
                </ion-note>
            </ion-item>
            
        </ion-card>
    </ion-toolbar>
</ion-content>

