<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
     <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
 <ion-content class="outer-content">
  <ion-list class="chat-sliding-demo">
    <ion-item-sliding *ngFor="let order_product of order_products;let id=index;" #item>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="order_product.icon">
        </ion-avatar>
        <h2>{{order_product.model_name!=""? order_product.model_name:(order_product.problem_details_id!=""?order_product.discription:order_product.problem_discription).substring(0, 15)+".."}}</h2>
        <p>{{(order_product.discription!=""? order_product.discription:order_product.problem_discription).substring(0, 40)+".."}}</p>
        <ion-note item-end color="secondary">
          <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{order_product.service_charge}}</b>
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="delete(item,id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
     <ion-card>

  <ion-card-header>
    Estimate Charges Details
  </ion-card-header>

  <ion-card-content>
    <ion-list no-lines>
        <ion-item>
          Number of Item
          <ion-note item-end color="secondary">
              <b>{{no_of_item}}</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Estimate Charges
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total}}</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Membership Discount
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total_discount}}</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Sub Total Estimate Charges
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total_estimate}}</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Gst 
          <ion-note item-end color="secondary">
              <b>&nbsp;18%</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Total Estimate Charges
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total_estimate+total_estimate*18/100}}</b>
          </ion-note>
        </ion-item>
     </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <h4 style="margin-top: 8px;color: #ec1c24;"><i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total_estimate}}</b></h4>
                </ion-col>
                <ion-col col-6>
                   <button ion-button icon-left full  color="secondary" (click)="continue()" *ngIf="no_of_item!=0">
                        {{ 'SIGNUP_BUTTON_1' | translate}}
                   </button>
                </ion-col>
            </ion-row>
        </ion-grid>
  </ion-toolbar>
</ion-footer>
<style>
  #archive-spinner,
  #download-spinner,
  .archiving .expand-hide,
  .downloading .expand-hide {
    display: none;
  }

  #archive-spinner.spinner-ios line,
  #archive-spinner.spinner-crescent circle {
    stroke: #fff;
  }
  #archive-spinner.spinner-circles circle {
    fill: #fff;
  }
  .archiving #archive-spinner,
  .downloading #download-spinner {
    display: block;
  }
  .chat-sliding-demo ion-note {
    font-size: 13px;
    margin-top: -8px;
  }
  .chat-sliding-demo img {
    pointer-events: none;
  }
  .login-sliding-demo .ion-logo-twitter {
    color: #53ACEB;
  }
  .login-sliding-demo .ion-logo-github {
    color: #000000;
  }
  .login-sliding-demo .ion-logo-instagram {
    color: #235D8D;
  }
</style>