<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-card>
 <img src="assets/img/appicon.png" class="slide-image" />
  <ion-card-content>
    
      <form (submit)="login()">
    <ion-list>

      <ion-item>
        <ion-label floating>{{ 'CONTACT_NO' | translate }}</ion-label>
        <ion-input type="number" [(ngModel)]="account.contact_no" name="contact_no"></ion-input>
      </ion-item>

      <!--
      Want to use a Username instead of an Email? Here you go:

      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
  </ion-card-content>
</ion-card>
     
     
  
</ion-content>
