<ion-header>
  <ion-navbar color="primary">
    <ion-title>Product Repair Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-10>
                        <ul class="StepProgress"  >
                            <li class="StepProgress-item current" [attr.data-content]="1">
                                <strong>{{order_detail.status!='false'?'Approved':'Pending'}} <ion-note style="float: right;">{{order_detail.order_date}}</ion-note></strong>
                                
                                {{order_detail.status!='false'?'Your Product Order is Approved by Administrator.':'Your Product Order is in Pending Situation.'}}<br>
                            </li>
                            <li class="StepProgress-item current" [attr.data-content]="i+2" *ngFor="let repair_detail of repair_details;let i=index;" >
                                <strong>
                                    {{ repair_detail.type=='OP' && (repair_detail.status==1 || repair_detail.status==2) ? repair_detail.status==1 ? 'Pending Work' :'Under Lab' : ''}}
                                    {{ repair_detail.type=='OL' ? 'Extra Charge for' :''}}
                                    {{ repair_detail.type=='LS' ? 'Charge for Spare' :''}}
                                    <ion-note style="float: right;">{{repair_detail.dae}}</ion-note>
                                </strong>
                                {{repair_detail.message}}<br>
                                <small>{{ repair_detail.type=='OP' && (repair_detail.status==1 || repair_detail.status==2) ? repair_detail.status==1 ? 'For resolve this issue it takes '+repair_detail.amount+' hrs.' :'' : ''}}</small>
                                <div *ngIf="repair_detail.type=='OL'||repair_detail.type=='LS'">
                                    <small style="font-size: 68%;">Prabhat Digital Want to Permission for these Action.</small>
                                    <hr>
                                    <ion-row style="text-align: center;">
                                        <ion-col col-6 style=" border-right: 1px solid rgba(0, 0, 0, 0.08);height: 30px;"><p style="color: #ec1c24"><i class="fa fa-inr fa-1x"></i><b>&nbsp;{{repair_detail.amount}} /-</b></p></ion-col>
                                        <ion-col col-6  (click)="givePermission(repair_detail.status,repair_detail.type,repair_detail.id)" >
                                            <b [ngClass]="repair_detail.status=='false'?'give':'approved'">{{repair_detail.status=='false'?'Give Permission':'Approved'}}</b>
                                        </ion-col>
                                        
                                    </ion-row>
                                </div>
                            <hr>
                            </li>
                            <li class="StepProgress-item current" [attr.data-content]="resolve.l" *ngIf="check_resolve">
                                <strong>{{resolve.title}}<ion-note style="float: right;">{{resolve.dae}}</ion-note></strong>
                                {{resolve.message}}<br>
                            </li>
<!--                            <li class="StepProgress-item  current"><strong>Award an entry</strong>
                                Got more entries that you love? Buy more entries anytime! Just hover on your favorite entry and click the Buy button
                            </li>-->
<!--                              <li class="StepProgress-item current"><strong>Post a contest</strong></li>
                              <li class="StepProgress-item current"><strong>Handover</strong></li>
                              <li class="StepProgress-item current"><strong>Provide feedback</strong></li>-->
        </ul>
                    </ion-col>
                    <ion-col col-1></ion-col>
        </ion-row>
        
    </ion-card>
</ion-content>

