<!--
  Generated template for the SelectAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>SelectAddress</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
  <ion-card-content>
      <form (submit)="submitAddress()">
    <ion-list>
      <ion-item>
        <ion-label stacked>{{ 'address_1' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.address_1" name="address_1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'address_2' | translate }}</ion-label>
        <ion-textarea #ionTxtArea  [(ngModel)]="account.address_2" name="address_2"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'city' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.city" name="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'pincode' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.pincode" name="pincode"></ion-input>
      </ion-item>
          <ion-item>
            <ion-label >{{ 'state' | translate }}</ion-label>
            <ion-select [(ngModel)]="account.state"  name="state" [selectOptions]="stateAlertOpts">>
              <ion-option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</ion-option>
                <ion-option value="Andhra Pradesh">Andhra Pradesh</ion-option>
                <ion-option value="Arunachal Pradesh">Arunachal Pradesh</ion-option>
                <ion-option value="Assam">Assam</ion-option>
                <ion-option value="Bihar">Bihar</ion-option>
                <ion-option value="Chandigarh">Chandigarh</ion-option>
                <ion-option value="Chhattisgarh">Chhattisgarh</ion-option>
                <ion-option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</ion-option>
                <ion-option value="Daman and Diu">Daman and Diu</ion-option>
                <ion-option value="Delhi">Delhi</ion-option>
                <ion-option value="Goa">Goa</ion-option>
                <ion-option value="Gujarat">Gujarat</ion-option>
                <ion-option value="Haryana">Haryana</ion-option>
                <ion-option value="Himachal Pradesh">Himachal Pradesh</ion-option>
                <ion-option value="Jammu and Kashmir">Jammu and Kashmir</ion-option>
                <ion-option value="Jharkhand">Jharkhand</ion-option>
                <ion-option value="Karnataka">Karnataka</ion-option>
                <ion-option value="Kerala">Kerala</ion-option>
                <ion-option value="Lakshadweep">Lakshadweep</ion-option>
                <ion-option value="Madhya Pradesh">Madhya Pradesh</ion-option>
                <ion-option value="Maharashtra">Maharashtra</ion-option>
                <ion-option value="Manipur">Manipur</ion-option>
                <ion-option value="Meghalaya">Meghalaya</ion-option>
                <ion-option value="Mizoram">Mizoram</ion-option>
                <ion-option value="Nagaland">Nagaland</ion-option>
                <ion-option value="Orissa">Orissa</ion-option>
                <ion-option value="Pondicherry">Pondicherry</ion-option>
                <ion-option value="Punjab">Punjab</ion-option>
                <ion-option value="Rajasthan">Rajasthan</ion-option>
                <ion-option value="Sikkim">Sikkim</ion-option>
                <ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
                <ion-option value="Tripura">Tripura</ion-option>
                <ion-option value="Uttaranchal">Uttaranchal</ion-option>
                <ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
                <ion-option value="West Bengal">West Bengal</ion-option>
            </ion-select>
          </ion-item>
      <div padding>
        <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON_1' | translate }}</button>
      </div>

    </ion-list>
  </form>
  </ion-card-content>
</ion-card>
  

</ion-content>
