page-item-detail {
  .item-profile {
    background-position: center center;
    background-size: cover;
     margin-left: auto;
     margin-right: auto;
     width: 150px;
     height: 120px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  #notifications-badge {
            position: absolute;
                top: -5px;
    right: 14px;
            border-radius: 100%;
        }
}
