<ion-header>

  <ion-navbar>
    <ion-title>
        
        {{item.product_name}}
    </ion-title>
    <ion-buttons end>
        
<!--      <button ion-button icon-only (click)="presentPopover($event)">
              <ion-icon ios="ios-list-box" md="md-list-box">
                  <ion-badge id="notifications-badge" [color]='order_products.length>0?"primary":"secondary"'>{{order_products.length}}</ion-badge>
          </ion-icon>
      </button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  

  <div class="item-detail" padding>
    <!--<h2>{{item.product_name}}</h2>-->
    <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.icon + ')'"></div>
    <ion-item *ngIf="hide_brand_details">
      <ion-label>Select Brand</ion-label>
      <ion-select [(ngModel)]="brand_detail_ngModel" [selectOptions]="brand_detailAlertOpts"  (ionChange)="selectBrand($event)">
        <ion-option *ngFor="let brand_detail of brand_details" value="{{brand_detail.brand_details_id}}" >{{brand_detail.brand_name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="hide_model_details">
      <ion-label>Select Model</ion-label>
      <ion-select [(ngModel)]="model_details_ngModel" [selectOptions]="model_detailsAlertOpts"  (ionChange)="selectModel($event)">
        <ion-option *ngFor="let model_detail of model_details" value="{{model_detail.model_details_id}}" >{{model_detail.model_name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="hide_problem_details">
      <ion-label>Select Problem</ion-label>
      <ion-select [(ngModel)]="problem_details_ngModel" [selectOptions]="problem_detailsAlertOpts"  (ionChange)="selectProblem($event)">
        <ion-option *ngFor="let problem_detail of problem_details" value="{{problem_detail.problem_details_id}}" >{{problem_detail.problem}}</ion-option>
      </ion-select>
    </ion-item>
    
       <ion-card *ngIf="hide_discription" style="margin: 17px;">
          <ion-card-header color="primary">
            {{ 'ITEM_DETAILS_PROBLEM_DESCRIPTION' | translate }}
          </ion-card-header>
          <ion-card-content>
            {{discription}}
          </ion-card-content>
        </ion-card>
    
    <ion-item>
      <ion-label stacked>{{ 'ITEM_DETAILS_ISSUE_TITLE' | translate }}</ion-label>
      <ion-textarea #ionTxtArea
        placeholder='{{placeholder}}'
        [(ngModel)]="problem_discription"></ion-textarea>
    </ion-item>
    <p>
       <button ion-button icon-left full  [color]='add_to_cart_color?"primary":"secondary"' (click)="addProduct()"  >
  <ion-icon name="cart"></ion-icon>
  {{ add_to_cart_color? ('ITEM_DETAILS_CART' | translate) : ('ITEM_DETAILS_AFTER_CART' | translate) }}
</button>
    </p>
    <p *ngIf="ITEM_DETAILS_ADD_MORE">
       <button ion-button icon-left full  color="light" (click)="addMore()"  >
  <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
  {{ 'ITEM_DETAILS_ADD_MORE' | translate}}
</button>
    </p>
  </div>
</ion-content>