<!--
  Generated template for the Signup1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
 <img src="assets/img/appicon.png" class="slide-image" />
  <ion-card-content>
      <form (submit)="submitRegistration()">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="account.email" name="email" (focusout)="checkEmail()" (focusin)="check_email=false"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" (ionFocus)="showCondition()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.confirm_password" name="confirm_password" (focusout)="checkSamePassword()"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON_1' | translate }}</button>
      </div>

    </ion-list>
  </form>
  </ion-card-content>
</ion-card>
  
</ion-content>