<!--
  Generated template for the AltcontactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Place Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
    <ion-card-content>
    <img src="assets/img/appicon.png" class="slide-image" />
    <ion-list no-lines>
        <ion-item>
          Number of Item
          <ion-note item-end color="secondary">
              <b>{{no_of_item}}</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Estimate Charges
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total}}</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Membership Discount
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total_discount}}</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Sub Total Estimate
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total_estimate}}</b>
          </ion-note>
        </ion-item>
        <ion-item>
          GST 
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;18 %</b>
          </ion-note>
        </ion-item>
        <ion-item>
          Total Estimate Charges
          <ion-note item-end color="secondary">
              <i class="fa fa-inr fa-1x"></i><b>&nbsp;{{total_estimate+total_estimate*18/100}}</b>
          </ion-note>
        </ion-item>
     </ion-list>
  </ion-card-content>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label stacked>{{ 'alt_contact_no' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.alt_contact_no" name="alt_contact_no"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
    
</ion-card>
  

</ion-content>
<ion-footer>
  <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col col-6 offset-6>
                   <button ion-button icon-left full  color="secondary" (click)="continue()" >
                        {{ 'CONTINUE' | translate}}
                   </button>
                </ion-col>
            </ion-row>
        </ion-grid>
  </ion-toolbar>
</ion-footer>
