<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-card>
 <img src="assets/img/appicon.png" class="slide-image" />
  <ion-card-content>
    <form (submit)="otpCheck()">
    <ion-list>
      <h1>{{ 'CHECK_OTP_TITLE' | translate }}</h1>
      <br>
      <p class="discription">{{ 'CHECK_OTP_DISCRIPTION_1' | translate }} {{contact_no}}.{{ 'CHECK_OTP_DISCRIPTION_2' | translate }}</p>
        <ion-grid>
          <ion-row>
              <ion-col col-2>&nbsp;</ion-col>
            <ion-col col-7><ion-item>
            <ion-input type="number" [(ngModel)]="account.otp_no" name="otp_no"></ion-input>
            <ion-label>OTP</ion-label>
          </ion-item></ion-col>
          </ion-row>
        </ion-grid>
      <div padding>
        <button ion-button color="primary" block>{{ 'CHECK_OTP_BUTTON' | translate }}</button>
      </div>
    </ion-list>
  </form>
	<ion-list>
		<ion-item *ngFor="let sms of smses">
			<ion-icon name="star" *ngIf="sms.read==0||sms.read==1"></ion-icon>
			{{sms.address}}=={{sms.read}}
			<p>{{sms.body}}</p>
		</ion-item>
	</ion-list>
  </ion-card-content>
</ion-card>
     
     
  
</ion-content>
