page-checkotp {
.slide-image {
        position: relative;
        left: 20%;
      height: 150px;
    max-height: 40%;
    max-width: 60%;
   margin: 36px 0;
  }
  .discription{
      font-size: 12px;
      color: gray;
  }
}
