<ion-header>
  <ion-navbar color="primary">
    <ion-title>Order : {{order_no}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<!--        <ion-card *ngFor="let payment_detail of payment_details" >
            <ion-item>
                 <ion-avatar item-start>
                    <img [src]='payment_detail.icon'>
                 </ion-avatar>
                <h3><b>{{payment_detail.product_name}}</b> </h3>
                <p>{{payment_detail.brand_name!=null?payment_detail.brand_name:''}}&nbsp;&nbsp;{{payment_detail.model_name!=null?' ('+payment_detail.model_name+' )':''}}</p>
                <button ion-button item-end small (click)="openPrice(payment_detail)">Price</button>
                <h4 class="slide-title" style="color: #ec1c24"><i class="fa fa-inr fa-1x"></i><b>&nbsp;450 /-</b></h4>
            </ion-item>
        </ion-card>-->
<ion-card>
  <ion-card-header>
    Price Details
  </ion-card-header>
    <hr style="    margin-top: -7px;">
  <ion-card-content >
       <ion-row *ngFor="let payment_detail of payment_details;let i= index;">
        <ion-col col-1 style="text-align: center;">
          {{i+1}}
        </ion-col>
        <ion-col col-8>
          {{payment_detail.discription}}
        </ion-col>
        <ion-col col-3 style="text-align: center;">
            <strong style="color: #ec1c24">{{payment_detail.amount}}</strong>
        </ion-col>
      </ion-row>
  </ion-card-content>
    <hr>
  <ion-card-content>
       <ion-row >
        <ion-col col-9 style="text-align: right;">
            <strong >Sub Total :</strong>
        </ion-col>
        <ion-col col-3 style="text-align: center;">
            <strong style="color: #ec1c24">{{count}}</strong>
        </ion-col>
      </ion-row>
       <ion-row >
        <ion-col col-9 style="text-align: right;">
            <strong >Gst :</strong>
        </ion-col>
        <ion-col col-3 style="text-align: center;">
            <strong style="color: #ec1c24">18%</strong>
        </ion-col>
      </ion-row>
       <ion-row >
        <ion-col col-9 style="text-align: right;">
            <strong >Total :</strong>
        </ion-col>
        <ion-col col-3 style="text-align: center;">
            <strong style="color: #ec1c24">{{total}}</strong>
        </ion-col>
      </ion-row>
      <div padding>
        <button ion-button color="primary" (click)="getCheckShum()" >PAY</button>
      </div>
  </ion-card-content>
</ion-card>
 

</ion-content>

