<!--
  Generated template for the PaymentOptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>payment-options</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button (click)="pay()">Pay</button>
</ion-content>
