<ion-header>
  <ion-navbar color="primary">
    <ion-title>Order : {{order_no}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-toolbar>
        <ion-card *ngFor="let order_product of order_products" >
            <ion-item>
                 <ion-avatar item-start>
                    <img [src]='order_product.icon'>
                 </ion-avatar>
                <h3><b>{{order_product.product_name}}</b> </h3>
                <p>{{order_product.brand_name!=null?order_product.brand_name:''}}&nbsp;&nbsp;{{order_product.model_name!=null?' ('+order_product.model_name+' )':''}}</p>
                 <ion-note item-end style="color: #ec1c24"><i class="fa fa-inr fa-1x"></i><b>&nbsp;{{order_product.amount+order_product.amount*18/100}} /-</b></ion-note>
            </ion-item>
            <ion-card-content>
                <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-10>
                        <ul class="progress">
                          <li class="progress__circle " [ngClass]="order_detail.status!='false'? 'progress--done progress--active':'progress--active'" id="Approved"></li>
                          <li class="progress__bar " [ngClass]="order_detail.status!='false' && order_product.status!=null? 'progress--done':''"></li>
                          <li class="progress__circle {{order_detail.status!='false' && order_product.status!=null && order_product.status!='false'  ?'progress--active':''}}" 
                              [ngClass]="order_detail.status!='false' && order_product.status!=null && order_product.status!='false'&& (order_product.engg_details_id!=null)  ?'progress--done':''"   id="Meetup"></li>
                          <li class="progress__bar" [ngClass]="order_detail.status!='false' && order_product.status!=null && order_product.status!='false' &&(order_product.order_allot_detailsId!=null)&& (order_product.engg_details_id!=null  )?'progress--done':''"></li>
                          <li class="progress__circle {{order_detail.status!='false' && order_product.status!=null && order_product.status!='false' &&(order_product.order_allot_detailsId!=null)&& (order_product.engg_details_id!=null  ) && (order_product.order_product_status_id!=null  )?'progress--active':''}}" 
                                      [ngClass]="order_detail.status!='false' 
                                      && order_product.status!=null && order_product.status!='false' 
                                      
                                      && (order_product.engg_details_id!=null) 
                                      && (order_product.order_product_status_id!=null ) 
                                      && (order_product.repaire!=null) ?'progress--done':''" id="Working"></li>
                          <li class="progress__bar" [ngClass]="order_detail.status!='false' 
                                      && order_product.status!=null && order_product.status!='false' 
                                      
                                      && (order_product.engg_details_id!=null) 
                                      && (order_product.order_product_status_id!=null ) 
                                      && (order_product.repaire!=null) ?'progress--done':''"></li>
                          <li class="progress__circle" [ngClass]="order_detail.status!='false' 
                                      && order_product.status!=null && order_product.status!='false' 
                                      
                                      && (order_product.engg_details_id!=null) 
                                      && (order_product.order_product_status_id!=null ) 
                                      && (order_product.repaire!=null) ?'progress--done progress--active':''" id="Repaired"></li>
                        </ul>
                    </ion-col>
                </ion-row>
                <hr>
                <ion-row style="text-align: center;">
                    <ion-col col-6 style=" border-right: 1px solid rgba(0, 0, 0, 0.08);height: 30px;" (click)="openRepaire(order_product)">More</ion-col>
                    <ion-col col-6 (click)="openPrice(order_product)">Price Details</ion-col>
                </ion-row>
                    
            </ion-card-content>
            
            
        </ion-card>
    </ion-toolbar>
</ion-content>

