page-order-product {
    ion-fab{
        left: 5px;
        top: 5px;
    }
    .fab .button-inner{
        margin-left: 2px;
    }
    $light-gray: #F2F2F2;
$green: #ffc20e;
$font: 'Palanquin', sans-serif;;

.progress {
  display: inline-flex;
  align-items: center;
  counter-reset: step;
  padding: 0;
  margin: 0;
  width: 100%;
  color: $light-gray;
  font-family: $font;
  list-style: none;
  text-transform: uppercase;
  
  &__circle {
        width: 20px;
    height: 20px;
    border: 5px solid $light-gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
 
    &:before {
      
      font-family: 'FontAwesome';
      font-size: 2em;
      color: #fff;
      margin-top: 0.3em;
    }
    &:after {
      color: #eb1c24;  
      font-size:10px;  
      margin-top: 2.1em;
    }
  }
  
  &__bar {
    flex: 1;
    height: 5px;
    background: $light-gray;
  }
  
  &--done {
    background: $green;
  }
  
  &--active {
    border: 5px solid $green;
    color: $green;
  }
}
#Meetup {
  &:after {
    content: 'PUCKUP';
  }
}
#Approved{
  &:after {
    content: 'Approved';
  }
}
#Working{
  &:after {
    content: 'Working';
  }
}
#Repaired{
  &:after {
    content: 'Repaired';
  }
}

       
}
