<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ACCOUNT_DETAIL' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
 <ion-card>
      <ion-card-content>
          <form (submit)="checkContactNo()">
            <ion-list>
              <ion-item>
                <ion-label floating>User Name</ion-label>
                <ion-input type="text" [(ngModel)]="account.user_name" name="user_name" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" [(ngModel)]="account.email" name="email" (focusout)="checkEmail()" (focusin)="check_email=false"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Contact No.</ion-label>
                <ion-input type="number" [(ngModel)]="account.contact_no" name="contact_no" (focusout)="checkEmail()" (focusin)="check_email=false"></ion-input>
              </ion-item>
              <div padding>
                <button ion-button color="primary" block>{{ 'ACCOUNT_DETAIL_UPDATE' | translate }}</button>
              </div>
            </ion-list>
          </form>
      </ion-card-content>
</ion-card>
  
</ion-content>