<!--
  Generated template for the SelectAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Select Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
<ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                   <button ion-button icon-left full  color="primary" (click)="addAddress()" >
                        {{ 'ADD_ADDRESS' | translate}}
                   </button>
                </ion-col>
            </ion-row>
            <ion-row radio-group [(ngModel)]="autoManufacturers" *ngFor="let address_detail of address_details" >
                <ion-col col-12>
                    <ion-card>
                    <ion-card-header>
                        <ion-row>
                          <ion-col col-1><ion-radio color="yellow" checked="true" (ionSelect)="showEdit(address_detail.address_details_id)"></ion-radio></ion-col>
                          <ion-col col-8><b>{{address_detail.address_1}}</b></ion-col>
                          <ion-col col-3 *ngIf="address_detail.edit">
                              <button ion-button item-end outline icon-start small edit_button_css (click)="editAddress(address_detail)">
                                  <ion-icon name="open"></ion-icon>
                                  Edit
                              </button>
                          </ion-col>
                          <ion-col col-1 offset-2 *ngIf="!address_detail.edit" (click)="deleteAddress(address_detail)">
                              <ion-note item-end >
                                 <ion-icon name="trash"></ion-icon>
                              </ion-note>
                          </ion-col>
                        </ion-row>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col col-12 >{{address_detail.address_2}},&nbsp;{{address_detail.city}},&nbsp;{{address_detail.state}}&nbsp;({{address_detail.pincode}})</ion-col>
                        </ion-row>
                    </ion-card-content>
                        
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        
  </ion-toolbar>
</ion-content>
<ion-footer *ngIf="no_of_item!=0">
  <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col col-6 offset-6>
                   <button ion-button icon-left full  color="secondary" (click)="continue()" >
                        {{ 'SIGNUP_BUTTON_1' | translate}}
                   </button>
                </ion-col>
            </ion-row>
        </ion-grid>
  </ion-toolbar>
</ion-footer>
