<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ACCOUNT_DETAIL' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
 <ion-card style="border-bottom-left-radius: 87px;border-bottom-right-radius: 87px;">
      <ion-card-content >
          <div class="profile-image-wrapper" (click)="openPage({component:'ProfilepicPage'})">
            <img class="profile-image" [src] ="getPic()" />
            <ion-card-title>
                {{getUserName()}}
            </ion-card-title>
         </div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
         <ion-row>
            <ion-col col-6 style="text-align: center;border-right: 1px solid rgba(0, 0, 0, 0.08);height: 30px;" (click)="openPage({component:'AccountDetailsPage'})">
                <ion-icon name="contacts" style="font-size: 40px;"></ion-icon>
                <p>Account Details</p>
            </ion-col>
            <ion-col col-6 style="text-align: center;" (click)="openPage({component:'SelectAddressPage'})">
                <ion-icon name="home" style="font-size: 40px;"></ion-icon> 
                <p>Address Details</p>
            </ion-col>
         </ion-row>
      </ion-card-content>
</ion-card>
  
</ion-content>