page-account {
  .profile-image-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  .profile-image {
      width: 70px;
      height: 70px;
      border-radius: 50px;
        margin: auto;
}
}
