<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PASSWORD_DETAIL' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
  <ion-card-content>
      <form (submit)="submitRegistration()">
            <ion-list>
              <ion-item>
                <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="account.password" name="password" (ionFocus)="showCondition()"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Confirm Password</ion-label>
                <ion-input type="password" [(ngModel)]="account.confirm_password" name="confirm_password" (focusout)="checkSamePassword()"></ion-input>
              </ion-item>
              <div padding>
                <button ion-button color="primary" block>{{ 'ACCOUNT_DETAIL_UPDATE' | translate }}</button>
              </div>
            </ion-list>
      </form>
      </ion-card-content>
</ion-card>
  
</ion-content>