<ion-header>
  <ion-navbar color="primary">
      
      <ion-title>
          <img  height="40" src="{{pic}}" class="ti-image">
          {{ user_name }}
      </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()" id="notification-button">
          <ion-icon name="cart">
              <ion-badge id="notifications-badge" *ngIf='this.orderProduct.selectAllOrderProduct().length>0?true:false'>{{this.orderProduct.selectAllOrderProduct().length}}</ion-badge>
           </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
     <ion-refresher (ionRefresh)="loadForcely($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-row>
        <ion-col col-6 *ngFor="let product_detail of product_details" (click)="openItem(product_detail)">
            <ion-card>
                 <ion-item >
                     <h2><b>{{product_detail.product_name}}</b></h2>
                 </ion-item>
                 <ion-card-content>
                     <img src="{{product_detail.icon}}" class="product-icon">
                     <h2 text-center class="slide-title" ><i class="fa fa-inr fa-1x"></i><b>&nbsp;{{product_detail.service_charge}}</b></h2>
                 </ion-card-content>
                 <ion-row>
                     <ion-col>
                         <button ion-button icon-left clear small color="secondary">
                             <img src="assets/img/prime.png" style="width:70px;margin-left:-3px;" ><div >&nbsp;{{product_detail.discount}} % off.</div>
                         </button>
                     </ion-col>
                 </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>