page-list-master {

  .product-icon{
      width: 60px;
      height: 70px;
      margin-left: auto;
      margin-right: auto;
  }
  .col{
      padding: 0px;
  }
  .indian-currency-symbol{
      height: 20px;
      width: auto;
  }
  .item-md {
    /*padding-left: 4px;*/
  }
  .ion-fab-button{
          margin-top: 10px;
      background-color: rgb(239, 239, 239);
          width: 48px;
    height: 30px;
  }
   #notification-button {            
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


   #notifications-badge {
            background-color: red;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
            color: white;
        }
        .ti-image {
            display: inline;
    border-radius: 50%;
       margin-top: -3px;
    height: 27px;
    position: relative;
    top: 4px;
}

}
