<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
 <img src="assets/img/appicon.png" class="slide-image" />
  <ion-card-content>
      <form (submit)="checkContactNo()">
    <ion-list>

      <ion-item>
        <ion-label floating>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.user_name" name="user_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'CONTACT_NO' | translate }}</ion-label>
        <ion-input type="number" [(ngModel)]="account.contact_no" name="contact_no"  pattern="\d*" ></ion-input>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON_1' | translate }}</button>
      </div>
    </ion-list>
  </form>
  </ion-card-content>
</ion-card>
</ion-content>