<!--
  Generated template for the AltcontactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Order Status</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-card>
    <ion-card-content>
    <img src="assets/img/right.gif" class="slide-image" />
    <ion-card-title >
      ORDER CONFIRMED
      </ion-card-title>
    <p style="text-align: center;" >
        <b style="color: #7b7474">Order No.</b><a>{{order_no}}</a>
    </p>
  </ion-card-content>
</ion-card>
  <ion-card-title style="font-size: 12px;color: #ec1c24;" >
      WE  SOLUTIONS FOR YOUR HOME
  </ion-card-title>
  <ion-card>
    <ion-card-content>
    <img src="assets/img/process_done.PNG" class="slide-image" />
    <p>&nbsp;</p>
    <p style="text-align: center;"  accesskey="">
        <button ion-button round (click)="done()">Done</button>
    </p>
  </ion-card-content>
</ion-card>

</ion-content>

